{% extends "base.html" %}

{% block specifika %}
    <section class="container">
        <h1 class="tecaj">Reaction Tester:</h1>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#igre-1">Test your reactions - made with JavaScript</a>
                    </h4>
                </div>
                <div id="igre-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Click on the circles and squares as fast as you can!</p>
                        <a href="/reaction-test" class="btn btn-default">Try it now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock specifika %}