{% extends "base.html" %}

{% block specifika %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="home-naslovi" style="text-align:center;">Sala ali resnica? =)</h1>
                <img class="img-responsive" id="sala-tedna" src="https://qph.ec.quoracdn.net/main-qimg-0366f100f4eb570be99255bf70ead428?convert_to_webp=true">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="home-naslovi" style="text-align:center;">Ustvari svojo ikono</h1>
                <div id="ustvari-ikono">
                    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=239"></script>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h1 class="home-naslovi" style="text-align:center;">Radarska slika padavin</h1>
                <img class="img-responsive" id="slika-padavin" src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif" alt="Radar padavin">
            </div>
        </div>

    </section>
{% endblock specifika %}